body {
    touch-action: manipulation;
}

#display {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 7vmax Arial;
    line-height: 150%;
    text-align: center;
    white-space: nowrap;
}

button {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 150%;
    text-align: center;
}

#push {
    top: 35%;
    font: 4vmax Arial;
}

#result {
    margin-top: 7%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 3vmax Arial;
    line-height: 150%;
    white-space: nowrap;
}

.times {
    text-align: right;
}

#reset {
    top: 90%;
    font: 2vmax Arial;
}
