body {
    touch-action: manipulation;
}

#display {
    position: absolute;
    top: 16%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 7vh Arial;
    line-height: 120%;
    text-align: center;
    white-space: nowrap;
}

a {
    color: blue;
}

#share_page {
    float: right;
    font: 2.5vh Arial;
    white-space: nowrap;
}

button {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    font: 3vh Arial;
    line-height: 125%;
    text-align: center;
    white-space: nowrap;
}

#push1 {
    top: 29%;
}

#push2 {
    top: 35%;
}

#push3 {
    top: 41%;
}

table {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 3vh Arial;
    line-height: 150%;
    white-space: nowrap;
}

#result {
    top: 52%;
}

#result_total {
    top: 62%;
}

.cell {
    text-align: right;
}

#share_result {
    position: absolute;
    top: 68%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: 2.5vh Arial;
    text-align: center;
    white-space: nowrap;
}

#reset {
    top: 74%;
    font: 2vh Arial;
    white-space: nowrap;
}
